# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/vs/
src/.vs/ProjectSettings.json
src/.vs/slnx.sqlite
src/.vs/src/v15/.suo
src/.vs/src/v15/Browse.VC.db
src/.vs/src/v15/Browse.VC.opendb
src/.vs/src/v15/ipch/AutoPCH/41a0e1921c63d1d6/FUSIONEKF.ipch
src/.vs/src/v15/ipch/AutoPCH/a2de751090dbd005/TOOLS.ipch
src/.vs/src/v15/ipch/AutoPCH/b3881aaca50cdcf5/KALMAN_FILTER.ipch
src/.vs/VSWorkspaceState.json
